.parent{

    background-color: aqua;
    display: flex;

    height: "500px"; 
    justify-content: space-evenly;

     /* align-items: baseline;   */
}

/* .parent2{

     background-color: rgb(110, 206, 206);
    display: flex; 

    justify-content: ;
}

.parent3{

    background-color: rgb(14, 57, 57);
    display: flex;
}  */

.child{
    background-color: rgb(68, 149, 122);
    border: 1px solid rgb(95, 66, 131);
    width: 120px;

    /* flex-basis: 40px;
    flex-shrink: 0; */

    /* visibility: hidden; */


}

.search-box{

    flex-grow: 1;
    
}

.cart{

    flex-grow: 1;
}